@import "settings";
@import "foundation";

.overlay {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  z-index:1000;
  text-align: center;

  .text {
    display: table-cell;
    vertical-align: middle;
    padding-top: 5em;
  }
}

.capture-preview {
  text-align: center;

  img {
    @media #{$small-only} and (orientation: portrait) {
      width: 75%
    }
    @media #{$medium-up} {
      width: 100%;
    }
  }
}

.capture-info {
  .columns {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
  }
}

.capture-controls {
  text-align: center;
  ul {
    margin-bottom: 0;
  }
  li {
    .button {
      width: 20%;
    }
    display: inline;
    list-style-type: none;
  }
  #trigger-capture .button {
    width: 45%;
  }
}


.lightbox {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: white;
  background: rgba(255,255,255,0.8);
  outline: none;

  img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
  }
}
