<div class="panel panel-default">
  <div class="panel-body">
    Shot <span class="label label-success">500</span> pages in <span class="label label-info">20</span> minutes
  </div>
</div>
<div class="preview-images">
  <img src="http://holder.js/320x240" alt="Left device">
  <img src="http://holder.js/320x240" alt="Right device">
</div>
<p>
  <button type="button" class="btn btn-default">Capture</button>
  <button type="button" class="btn btn-info">Refresh Preview</button>
  <a href="" ng-click="next()" class="btn btn-default btn-primary btn-lg pull-right">Download</a>
</p>
