<form role="form">
  <div class="form-group">
    <label for="projectName">Project name</label>
    <input type="text" class="form-control" id="projectName" placeholder="Enter name">
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Reverse cameras</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Keep files on devices</label>
  </div>
  <!--<button type="submit" class="btn btn-default btn-primary btn-lg pull-right">Start</button>-->
  <a href="" ng-click="next()" class="btn btn-default btn-primary btn-lg pull-right">Start</a>
</form>
